
path.leaflet-interactive {
  opacity: 0.2 !important;  
}

#page-wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#siteContent {
  flex-grow: 1;
}

footer {
  background-color: darkgray;
  margin-top: 30px;
}